<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Kalaa</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates ">
	<meta name="author" content="#">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="css/zerogrid.css">
	<link rel="stylesheet" href="css/style.css">
	
	<!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	
	<link rel="stylesheet" href="css/menu.css">
	<script src="js/jquery1111.min.js" type="text/javascript"></script>
	<script src="js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
	<!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
</head>

<body>
	<div class="wrap-body">
		<div id='cssmenu' class="align-center">
			<ul>
			   <li class="active"><a href='./main'><span>Home</span></a></li>
			   <li><a href='./contents'><span>Contents</span></a></li>
				<li><a href='http://www.howiezhao.cn/welcomepage/'><span>Main Page</span></a></li>
				<li><a href='./NewArticle'><span>New Article</span></a></li>
			</ul>
		</div>

		<div  class="align-center">
			<h4 id="userInfo" style="text-align: right"></h4>
		</div>

		<script src="./js/jquerysession.js"></script>
		<script>
            $(document).ready(function(){
                var username = $.session.get('username');
                if(typeof(username)=='undefined')
                {
                    var jump = "please login " +" <a href=\"./Login\">here</a>"+ " first";
                    $("#userInfo").html(jump);
                }
                else
                {
                    var welcome = "welcome "+username;
                    $("#userInfo").text(welcome);
                }
            });
		</script>

		<header class="">
			<div class="logo">
				<a href="./main"><img src="images/logo.jpg" /></a>
			</div>
			<div id="owl-slide" class="owl-carousel">
				<div class="item">
					<img src="images/slider-1.jpg" />
				</div>
				<div class="item">
					<img src="images/slider-2.jpg" />
				</div>
				<div class="item">
					<img src="images/slider-3.jpg" />
				</div>
				<div class="item">
					<img src="images/slider-4.jpg" />
				</div>
				<div class="item">
					<img src="images/slider-5.jpg" />
				</div>
				<div class="item">
					<img src="images/slider-6.jpg" />
				</div>
			</div>
		</header>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
		<!--////////////////////////////////////Container-->
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------Content-Box-------------------->
				<article id="contents" class="post zerogrid">
					<!--<div  class="row wrap-post">&lt;!&ndash;Start Box&ndash;&gt;-->
					<!--<div class="entry-header">-->
					<!--<span class="time">June 8, 2016</span>-->
					<!--<h2 class="entry-title"><a href="#">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>-->
					<!--</div>-->
					<!--</div>-->
				</article>
				<script>
                    $(document).ready(function(){
                        $.ajax({
                            //请求方式
                            type:"GET",
                            //文件位置
                            url:"./query/articles",
                            //返回数据格式为json,也可以是其他格式如
                            dataType: "json",
                            //请求成功后要执行的函数，拼接html
                            success: function(data){
                                var i=0;
                                $.each(data,function(i,data){
                                    i++;
                                    var str="<div  class=\"row wrap-post\">";
                                    var now_time=new Date(data.time);
                                    var webPage="#";

                                    str+="<div class=\"entry-header\">";
                                    str+="<span class=\"time\">"+now_time+"</span>";
                                    str+="<h2 class=\"entry-title\">"+data.title+"</h2>";

                                    str+="<br>";
                                    str+="<h4 class=\"content-box\">"+data.author+"</h4>"
                                    str+="<br>";
                                    str+="<p class=\"content-box\">"+data.content+"</p>"

                                    str+="</div>";
                                    str+="</div>";
                                    $("#contents").append(str);
                                    if(i==3)
                                        return
                                });

                                //$("#aa").append(str);
                            }
                        });
                    });
				</script>



			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="zerogrid copyright">
				<div class="wrapper">
					Copyright @ - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Author <a href="http://www.howiezhao.cn/">HowieZhao</a> 备案号 : 皖ICP备18011487号
				</div>
			</div>
		</footer>
		<!-- carousel -->
		<script src="owl-carousel/owl.carousel.js"></script>
		<script>
		$(document).ready(function() {
		  $("#owl-slide").owlCarousel({
			autoPlay: 3000,
			items : 2,
			itemsDesktop : [1199,2],
			itemsDesktopSmall : [979,1],
			itemsTablet : [768, 1],
			itemsMobile : [479, 1],
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
			pagination: false
		  });
		});
		</script>
	</div>
</body>
</html>